# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rubyAssignment2\blog1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
